<div class="container">
  <div class="form-container">
    <form class="example-form" [formGroup]="formGroup">
      <img src="assets/black.png" alt="">
      <mat-form-field appearance="outline" class="field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary" class="btn" (click)="enviarRecuperacion()">Enviar recuperacion</button>
    </form>
  </div>
</div>
