<div class="bestiary-bg">
  <div class="bestiary-container">
    <h1 class="main-title">Bestiario de Cthulhu</h1>

    <section class="bestiary-section">
      <article class="bestiary-card main-bestiary-card">
        <h2>Qué es un bestiario en Cthulhu</h2>

        <p>
          Un bestiario en Cthulhu no funciona como una simple lista de monstruos
          para combatir. En este tipo de juego, las criaturas representan el
          miedo a lo desconocido, la fragilidad humana y la existencia de fuerzas
          antiguas que no pueden comprenderse por completo.
        </p>

        <p>
          Muchas amenazas no deben aparecer de golpe. Primero se muestran sus
          consecuencias: una desaparición, un símbolo repetido, un cadáver
          imposible, una grabación extraña, un sueño compartido o un pueblo que
          oculta demasiado. La criatura suele ser el final de una investigación,
          no el comienzo.
        </p>

        <p>
          El Guardián puede usar el bestiario para crear tensión, pistas y
          escenas de horror. Algunas criaturas pueden ser enfrentadas, otras
          deben evitarse, sellarse o entenderse lo suficiente como para impedir
          que su influencia siga creciendo.
        </p>

        <p>
          En una partida de Cthulhu, el verdadero peligro no siempre es morir.
          También puede ser perder la cordura, descubrir una verdad insoportable
          o comprender que el mundo humano es solo una pequeña capa sobre algo
          mucho más antiguo y oscuro.
        </p>
      </article>

      <div class="creatures-grid">
        @for (creature of creatures; track creature.name) {
          <article class="creature-card">
            <h3>{{ creature.name }}</h3>
            <p>{{ creature.description }}</p>
          </article>
        }
      </div>

@if (authService.canDownload()) {

        <div class="bestiary-download-wrapper">
        <a
          [href]="cthulhuBestiaryPdfUrl"
          target="_blank"
          rel="noopener noreferrer"
          class="bestiary-download-button"
        >
          Descargar bestiario de Cthulhu
        </a>
      </div>

      }
    </section>
  </div>
</div>
