<div class="cthulhu-character-bg">
  <div class="cthulhu-character-container">
    <h1 class="main-title">Personajes de Cthulhu</h1>

    <section class="character-section">
      <article class="character-card main-character-card">
        <h2>Qué representa un personaje en Cthulhu</h2>

        <p>
          En una partida de Cthulhu, los personajes no suelen ser héroes
          invencibles. Son investigadores, personas curiosas o supervivientes
          que descubren secretos demasiado grandes para la mente humana. Su
          objetivo no siempre es vencer, sino comprender el misterio, sobrevivir
          y evitar que algo terrible despierte.
        </p>

        <p>
          A diferencia de otros juegos de fantasía o acción, aquí el miedo, la
          investigación y la cordura tienen mucho peso. Un personaje puede ser
          inteligente, valiente o experto en su profesión, pero sigue siendo
          vulnerable ante los Mitos, los cultos, los rituales y las criaturas
          antiguas que habitan más allá del conocimiento humano.
        </p>

        <p>
          Para crear una buena partida, cada personaje debe tener una profesión,
          una motivación clara y una razón para seguir investigando aunque todo
          indique que lo más sensato sería huir. Esa tensión entre curiosidad,
          deber y terror es una de las claves del juego.
        </p>
      </article>

      <div class="characters-grid">
        @for (character of characters; track character.name) {
          <article class="character-card">
            <h3>{{ character.name }}</h3>
            <p>{{ character.description }}</p>
          </article>
        }
      </div>

@if (authService.canDownload()) {

        <div class="character-download-wrapper">
        <a
          [href]="cthulhuCharactersPdfUrl"
          target="_blank"
          rel="noopener noreferrer"
          class="character-download-button"
        >
          Descargar personajes de Cthulhu
        </a>
      </div>

      }
    </section>
  </div>
</div>
