<!-- Vista header de Rolverse. Estructura seccionada sin alterar rutas ni permisos. -->
@if (!isSessionRoute()) {
  <header class="header-container">
    <div class="main-logo-wrapper">
      <button type="button" class="logo-button" (click)="goHome()">
        <img src="assets/img/logo.png" alt="Rolverse Logo" class="main-logo" />
      </button>

      <app-audio-control></app-audio-control>
    </div>

    <!-- Botón para móvil -->
    <button class="hamburger" (click)="toggleMobileMenu()">☰</button>

    <div class="center-wrapper" [class.open]="mobileMenuOpen">
      <nav class="logo-nav">
        <!-- D&D -->
        <div
          class="logo-wrapper"
          [matMenuTriggerFor]="ddMenu"
          #ddTrigger="matMenuTrigger"
          (menuOpened)="swTrigger?.closeMenu()"
        >
          <img src="assets/img/d&d.png" alt="D&D" class="game-logo" />

          <span class="tooltip-text">D&D</span>

          <mat-menu
            #ddMenu="matMenu"
            class="pergamino-menu"
            backdropClass="transparent-backdrop"
          >
            <a mat-menu-item routerLink="/personajes" (click)="closeAllMenus()">
              <img
                src="assets/img/personajes dungeon/personajes.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.CHARACTERS" | translate }}
            </a>
            <a mat-menu-item routerLink="/mapas" (click)="closeAllMenus()">
              <img
                src="assets/img/mundos dungeon/mapas.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.MAPS" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/sistema-de-juego"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/sistema juego dungeon/libro.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.GAME_SYSTEM" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/historias-dungeon"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/historia dungeon/historia.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.HISTORY" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/bestiario-dungeon"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/bestiario dungeon/bestia.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.BESTIARY" | translate }}
            </a>
          </mat-menu>
        </div>

        <!-- Pathfinder -->
        <div
          class="logo-wrapper"
          [matMenuTriggerFor]="pathfinderMenu"
          #pathfinderTrigger="matMenuTrigger"
          (menuOpened)="ddTrigger?.closeMenu(); swTrigger?.closeMenu()"
        >
          <img
            src="assets/img/pathfinder.png"
            alt="Pathfinder"
            class="game-logo"
          />

          <span class="tooltip-text">Pathfinder</span>

          <mat-menu
            #pathfinderMenu="matMenu"
            class="pergamino-menu"
            backdropClass="transparent-backdrop"
          >
            <a
              mat-menu-item
              routerLink="/pathfinder-personajes"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/personajes pathfinder/mago.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.CHARACTERS" | translate }}
            </a>

            <a
              mat-menu-item
              routerLink="/pathfinder-mapas"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/mundos pathfinder/mapas.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.MAPS" | translate }}
            </a>

            <a
              mat-menu-item
              routerLink="/pathfinder-sistema-de-juego"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/sistema juego pathfinder/pathfinder.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.GAME_SYSTEM" | translate }}
            </a>

            <a
              mat-menu-item
              routerLink="/pathfinder-historias"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/historia pathfinder/historia.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.HISTORY" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/pathfinder-bestiario"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/bestiario pathfinder/bestiario.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.BESTIARY" | translate }}
            </a>
          </mat-menu>
        </div>

        <!-- Anima -->
        <div
          class="logo-wrapper"
          [matMenuTriggerFor]="animaMenu"
          #animaTrigger="matMenuTrigger"
          (menuOpened)="
            ddTrigger?.closeMenu();
            pathfinderTrigger?.closeMenu();
            swTrigger?.closeMenu()
          "
        >
          <img src="assets/img/anima.png" alt="Anima" class="game-logo" />

          <span class="tooltip-text">Anima</span>

          <mat-menu
            #animaMenu="matMenu"
            class="pergamino-menu"
            backdropClass="transparent-backdrop"
          >
            <a
              mat-menu-item
              routerLink="/anima-personajes"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/personajes anima/personajes.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.CHARACTERS" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/anima-mapas"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/mundos anima/mapa.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.MAPS" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/anima-sistema-de-juego"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/sistema juego anima/sistema de juego.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.GAME_SYSTEM" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/anima-historias"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/historia anima/historia.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.HISTORY" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/anima-bestiario"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/bestiario anima/bestiario.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.BESTIARY" | translate }}
            </a>
          </mat-menu>
        </div>

        <!-- Warhammer -->
        <div
          class="logo-wrapper"
          [matMenuTriggerFor]="warhammerMenu"
          #warhammerTrigger="matMenuTrigger"
          (menuOpened)="
            ddTrigger?.closeMenu();
            pathfinderTrigger?.closeMenu();
            animaTrigger?.closeMenu();
            swTrigger?.closeMenu()
          "
        >
          <img
            src="assets/img/warhammer.png"
            alt="Warhammer"
            class="game-logo"
          />

          <span class="tooltip-text">Warhammer</span>

          <mat-menu
            #warhammerMenu="matMenu"
            class="pergamino-menu"
            backdropClass="transparent-backdrop"
          >
            <a
              mat-menu-item
              routerLink="/warhammer-personajes"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/personajes warhammer/personaje.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.CHARACTERS" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/warhammer-mapas"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/mapas warhammer/mapas.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.MAPS" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/warhammer-sistema-de-juego"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/sistema juego warhammer/sistema juego.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.GAME_SYSTEM" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/warhammer-historias"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/historia warhammer/historia.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.HISTORY" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/warhammer-bestiario"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/bestiario warhammer/bestiario.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.BESTIARY" | translate }}
            </a>
          </mat-menu>
        </div>

        <!-- Cthulhu -->
        <div
          class="logo-wrapper"
          [matMenuTriggerFor]="cthulhuMenu"
          #cthulhuTrigger="matMenuTrigger"
          (menuOpened)="
            ddTrigger?.closeMenu();
            pathfinderTrigger?.closeMenu();
            animaTrigger?.closeMenu();
            warhammerTrigger?.closeMenu();
            swTrigger?.closeMenu()
          "
        >
          <img src="assets/img/cthulu.png" alt="Cthulhu" class="game-logo" />

          <span class="tooltip-text">Cthulhu</span>

          <mat-menu
            #cthulhuMenu="matMenu"
            class="pergamino-menu"
            backdropClass="transparent-backdrop"
          >
            <a
              mat-menu-item
              routerLink="/cthulhu-personajes"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/cthulhu personajes/personajes.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.CHARACTERS" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/cthulhu-mapas"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/cthulhu mapas/mapa.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.MAPS" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/cthulhu-sistema-de-juego"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/cthulhu sistema de juego/sistema de juego.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.GAME_SYSTEM" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/cthulhu-historias"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/cthulhu historia/historia.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.HISTORY" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/cthulhu-bestiario"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/cthulhu bestiario/bestiario.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.BESTIARY" | translate }}
            </a>
          </mat-menu>
        </div>

        <!-- La Leyenda de los 5 Anillos -->
        <div
          class="logo-wrapper"
          [matMenuTriggerFor]="fiveRingsMenu"
          #fiveRingsTrigger="matMenuTrigger"
          (menuOpened)="
            ddTrigger?.closeMenu();
            pathfinderTrigger?.closeMenu();
            animaTrigger?.closeMenu();
            warhammerTrigger?.closeMenu();
            cthulhuTrigger?.closeMenu();
            swTrigger?.closeMenu()
          "
        >
          <img
            src="assets/img/5 anillos.png"
            alt="Leyenda de los 5 Anillos"
            class="game-logo"
          />

          <span class="tooltip-text">La Leyenda de los 5 Anillos</span>

          <mat-menu
            #fiveRingsMenu="matMenu"
            class="pergamino-menu"
            backdropClass="transparent-backdrop"
          >
            <a
              mat-menu-item
              routerLink="/leyenda-5-anillos-personajes"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/leyenda 5 anillos personajes/personajes.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.CHARACTERS" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/leyenda-5-anillos-mapas"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/leyenda 5 anillos mapa/mapa.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.MAPS" | translate }}
            </a>
            <button
              mat-menu-item
              routerLink="/leyenda-5-anillos-sistema-de-juego"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/leyenda 5 anillos sistema de juego/sistema de juego.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.GAME_SYSTEM" | translate }}
            </button>
            <a
              mat-menu-item
              routerLink="/leyenda-5-anillos-historias"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/leyenda 5 anillos historia/historia.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.HISTORY" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/leyenda-5-anillos-bestiario"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/leyenda 5 anillos bestiario/bestiario.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.BESTIARY" | translate }}
            </a>
          </mat-menu>
        </div>

        <!-- Star Wars -->
        <div
          class="logo-wrapper"
          [matMenuTriggerFor]="swMenu"
          #swTrigger="matMenuTrigger"
          (menuOpened)="ddTrigger?.closeMenu()"
        >
          <img
            src="assets/img/starwars.png"
            alt="Star Wars"
            class="game-logo"
          />

          <span class="tooltip-text">Star Wars</span>

          <mat-menu
            #swMenu="matMenu"
            class="pergamino-menu"
            backdropClass="transparent-backdrop"
          >
            <a
              mat-menu-item
              routerLink="/starwars/personajes"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/personajes star wars/jedi.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.CHARACTERS" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/starwars/planetas"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/mundos star wars/mundos.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.PLANETS" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/starwars/sistema-de-juego"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/star wars sistema de juego/sistema de juego.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.GAME_SYSTEM" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/starwars/historias"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/star wars historia/historia.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.STORIES" | translate }}
            </a>
            <a
              mat-menu-item
              routerLink="/starwars/bestiario"
              (click)="closeAllMenus()"
            >
              <img
                src="assets/img/star wars bestiario/bestiario.png"
                alt=""
                class="menu-icon"
              />
              {{ "HEADER.BESTIARY" | translate }}
            </a>
          </mat-menu>
        </div>

        <!-- Forum -->
        <a
          class="logo-wrapper"
          [routerLink]="['/forum']"
          [queryParams]="{ page: 1 }"
          (click)="closeAllMenus()"
        >
          <img src="assets/img/forum.png" alt="Foro" class="game-logo" />
          <span class="tooltip-text">{{ "HEADER.FORUM" | translate }}</span>
        </a>

        <!-- Partidas -->
        <a
          class="logo-wrapper"
          [routerLink]="['/partidas']"
          [queryParams]="{ page: 1 }"
          (click)="closeAllMenus()"
        >
          <img
            src="assets/img/partidas/partidas.png"
            alt="Partidas"
            class="game-logo partidas-header-icon"
          />
          <span class="tooltip-text">{{ "HEADER.MATCHES" | translate }}</span>
        </a>

        <!-- Noticias -->
        <a
          class="logo-wrapper"
          [routerLink]="['/noticias']"
          [queryParams]="{ page: 1 }"
          (click)="closeAllMenus()"
        >
          <img
            src="assets/img/noticias/noticias.png"
            alt="Noticias"
            class="game-logo"
          />
          <span class="tooltip-text">{{ "HEADER.NEWS" | translate }}</span>
        </a>
      </nav>
    </div>

    <div class="login-button-wrapper">
      <div class="language-switcher" aria-label="Selector de idioma">
        <button
          type="button"
          class="language-button"
          [class.active]="translateService.currentLang === 'es'"
          (click)="setLanguage('es')"
          [attr.aria-label]="'HEADER.LANGUAGE_ES' | translate"
        >
          <img src="assets/idioma/es.svg" alt="Español" />
        </button>
        <button
          type="button"
          class="language-button"
          [class.active]="translateService.currentLang === 'en'"
          (click)="setLanguage('en')"
          [attr.aria-label]="'HEADER.LANGUAGE_EN' | translate"
        >
          <img src="assets/idioma/en.svg" alt="English" />
        </button>
      </div>

      @if (isLoggedIn()) {
        <div class="auth-buttons">
          <button
            class="rpg-login-button"
            [matMenuTriggerFor]="userMenu"
            (menuOpened)="onAccountMenuOpened()"
            (menuClosed)="onAccountMenuClosed()"
          >
            {{ "HEADER.MY_ACCOUNT" | translate }} ▼
          </button>

          <mat-menu #userMenu="matMenu" class="pergamino-menu">
            <button
              mat-menu-item
              type="button"
              class="account-menu-item"
              (click)="logout()"
            >
              <span class="account-menu-icon" aria-hidden="true">⚔️</span>
              <span class="account-menu-text">{{
                "HEADER.LOGOUT" | translate
              }}</span>
            </button>
            <a
              mat-menu-item
              class="account-menu-item"
              [routerLink]="['/profile']"
              (click)="closeAllMenus()"
            >
              <span class="account-menu-icon" aria-hidden="true">👤</span>
              <span class="account-menu-text">{{ accountLabel }}</span>
            </a>
            <div class="theme-switcher-account" aria-label="Selector de tema">
              <button
                mat-menu-item
                type="button"
                class="account-menu-item theme-menu-item"
                [class.active]="themeService.currentTheme === 'jedi'"
                (click)="themeService.setTheme('jedi')"
              >
                <img src="assets/img/jedi.png" alt="Jedi" class="theme-menu-icon" />
                <span class="account-menu-text">Jedi</span>
              </button>
              <button
                mat-menu-item
                type="button"
                class="account-menu-item theme-menu-item"
                [class.active]="themeService.currentTheme === 'sith'"
                (click)="themeService.setTheme('sith')"
              >
                <img src="assets/img/sith.png" alt="Sith" class="theme-menu-icon" />
                <span class="account-menu-text">Sith</span>
              </button>
            </div>
          </mat-menu>
        </div>
      } @else {
        <button
          class="rpg-login-button"
          routerLink="/session/login"
          (click)="closeAllMenus()"
        >
          🛡️ {{ "HEADER.LOGIN" | translate }}
        </button>
      }
    </div>
  </header>
}
