<header class="header-container">
  <nav class="logo-nav">

    <div class="logo-wrapper" title="D&D">
      <img src="assets/img/d&d.png" alt="D&D" class="game-logo" />
    </div>

    <div class="logo-wrapper" title="Pathfinder">
      <img src="assets/img/logo2.png" alt="Pathfinder" class="game-logo" />
    </div>

    <div class="logo-wrapper" title="Anima">
      <img src="assets/img/logo3.png" alt="Anima" class="game-logo" />
    </div>

    <div class="logo-wrapper" title="Warhammer">
      <img src="assets/img/logo4.png" alt="Warhammer" class="game-logo" />
    </div>

    <div class="logo-wrapper" title="Cthulhu">
      <img src="assets/img/logo5.png" alt="Cthulhu" class="game-logo" />
    </div>

    <div class="logo-wrapper" title="La Leyenda de los 5 Anillos">
      <img src="assets/img/logo6.png" alt="Leyenda de los 5 Anillos" class="game-logo" />
    </div>

    <div class="logo-wrapper" title="Masks">
      <img src="assets/img/logo7.png" alt="Masks" class="game-logo" />
    </div>

    <div class="logo-wrapper" title="Star Wars">
      <img src="assets/img/logo8.png" alt="Star Wars" class="game-logo" />
    </div>

  </nav>
</header>

